<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icoolkj.file.mapper.FileCatalogRelationMapper">
    
    <resultMap type="FileCatalogRelation" id="FileCatalogRelationResult">
        <result property="fileCatalogRelationId"    column="file_catalog_relation_id"    />
        <result property="fileCatalogCode"    column="file_catalog_code"    />
        <result property="fileConfigCode"    column="file_config_code"    />
        <result property="fileConfigType"    column="file_config_type"    />
        <result property="fileConfigMust"    column="file_config_must"    />
        <result property="fileConfigMinNum"    column="file_config_min_num"    />
        <result property="fileConfigMaxNum"    column="file_config_max_num"    />
        <result property="fileConfigMinSize"    column="file_config_min_size"    />
        <result property="fileConfigMaxSize"    column="file_config_max_size"    />
        <result property="fileConfigSortNum"    column="file_config_sort_num"    />
        <result property="fileCatalogRelationStatus"    column="file_catalog_relation_status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="fileConfig"    column="fileConfigCode" javaType="FileConfig" resultMap="FileConfigResult" />
        <association property="fileCatalogConfig"    column="fileCatalogCode" javaType="FileCatalogConfig" resultMap="FileCatalogConfigResult" />
    </resultMap>

    <resultMap type="FileConfig" id="FileConfigResult">
        <result property="fileConfigCode"    column="file_config_code"    />
        <result property="fileConfigName"    column="file_config_name"    />
        <result property="fileConfigTemplate"    column="file_config_template"    />
        <result property="fileConfigDesc"    column="file_config_desc"    />
        <result property="fileConfigStatus"    column="file_config_status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="FileCatalogConfig" id="FileCatalogConfigResult">
        <result property="fileCatalogCode"    column="file_catalog_code"    />
        <result property="fileCatalogName"    column="file_catalog_name"    />
        <result property="fileCatalogDesc"    column="file_catalog_desc"    />
        <result property="fileCatalogStatus"    column="file_catalog_status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFileCatalogRelationVo">
        select re.file_catalog_relation_id, re.file_catalog_code, re.file_config_code, re.file_config_type, re.file_config_must,
               re.file_config_min_num, re.file_config_max_num, re.file_config_min_size, re.file_config_max_size, re.file_config_sort_num,
               re.file_catalog_relation_status, re.del_flag, re.create_by, re.create_time, re.update_by, re.update_time,
               cf.file_config_name, cf.file_config_status,
               cc.file_catalog_name, cc.file_catalog_status
          from file_catalog_relation re
          inner join file_config cf on cf.file_config_code = re.file_config_code
          inner join file_catalog_config cc on cc.file_catalog_code = re.file_catalog_code
    </sql>

    <select id="selectFileCatalogRelationList" parameterType="FileCatalogRelation" resultMap="FileCatalogRelationResult">
        <include refid="selectFileCatalogRelationVo"/>
        <where>  
            <if test="fileCatalogCode != null  and fileCatalogCode != ''"> and re.file_catalog_code = #{fileCatalogCode}</if>
            <if test="fileConfigCode != null  and fileConfigCode != ''"> and re.file_config_code = #{fileConfigCode}</if>
            <if test="fileConfigType != null  and fileConfigType != ''"> and re.file_config_type = #{fileConfigType}</if>
            <if test="fileConfigMust != null  and fileConfigMust != ''"> and re.file_config_must = #{fileConfigMust}</if>
            <if test="fileConfigMinNum != null "> and re.file_config_min_num = #{fileConfigMinNum}</if>
            <if test="fileConfigMaxNum != null "> and re.file_config_max_num = #{fileConfigMaxNum}</if>
            <if test="fileConfigMinSize != null "> and re.file_config_min_size = #{fileConfigMinSize}</if>
            <if test="fileConfigMaxSize != null "> and re.file_config_max_size = #{fileConfigMaxSize}</if>
            <if test="fileConfigSortNum != null "> and re.file_config_sort_num = #{fileConfigSortNum}</if>
            <if test="fileCatalogRelationStatus != null  and fileCatalogRelationStatus != ''"> and re.file_catalog_relation_status = #{fileCatalogRelationStatus}</if>
        </where>
    </select>
    
    <select id="selectFileCatalogRelationByFileCatalogRelationId" parameterType="String" resultMap="FileCatalogRelationResult">
        <include refid="selectFileCatalogRelationVo"/>
        where file_catalog_relation_id = #{fileCatalogRelationId}
    </select>
        
    <insert id="insertFileCatalogRelation" parameterType="FileCatalogRelation">
        insert into file_catalog_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileCatalogRelationId != null">file_catalog_relation_id,</if>
            <if test="fileCatalogCode != null and fileCatalogCode != ''">file_catalog_code,</if>
            <if test="fileConfigCode != null and fileConfigCode != ''">file_config_code,</if>
            <if test="fileConfigType != null">file_config_type,</if>
            <if test="fileConfigMust != null">file_config_must,</if>
            <if test="fileConfigMinNum != null">file_config_min_num,</if>
            <if test="fileConfigMaxNum != null">file_config_max_num,</if>
            <if test="fileConfigMinSize != null">file_config_min_size,</if>
            <if test="fileConfigMaxSize != null">file_config_max_size,</if>
            <if test="fileConfigSortNum != null">file_config_sort_num,</if>
            <if test="fileCatalogRelationStatus != null">file_catalog_relation_status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileCatalogRelationId != null">#{fileCatalogRelationId},</if>
            <if test="fileCatalogCode != null and fileCatalogCode != ''">#{fileCatalogCode},</if>
            <if test="fileConfigCode != null and fileConfigCode != ''">#{fileConfigCode},</if>
            <if test="fileConfigType != null">#{fileConfigType},</if>
            <if test="fileConfigMust != null">#{fileConfigMust},</if>
            <if test="fileConfigMinNum != null">#{fileConfigMinNum},</if>
            <if test="fileConfigMaxNum != null">#{fileConfigMaxNum},</if>
            <if test="fileConfigMinSize != null">#{fileConfigMinSize},</if>
            <if test="fileConfigMaxSize != null">#{fileConfigMaxSize},</if>
            <if test="fileConfigSortNum != null">#{fileConfigSortNum},</if>
            <if test="fileCatalogRelationStatus != null">#{fileCatalogRelationStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFileCatalogRelation" parameterType="FileCatalogRelation">
        update file_catalog_relation
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileCatalogCode != null and fileCatalogCode != ''">file_catalog_code = #{fileCatalogCode},</if>
            <if test="fileConfigCode != null and fileConfigCode != ''">file_config_code = #{fileConfigCode},</if>
            <if test="fileConfigType != null">file_config_type = #{fileConfigType},</if>
            <if test="fileConfigMust != null">file_config_must = #{fileConfigMust},</if>
            <if test="fileConfigMinNum != null">file_config_min_num = #{fileConfigMinNum},</if>
            <if test="fileConfigMaxNum != null">file_config_max_num = #{fileConfigMaxNum},</if>
            <if test="fileConfigMinSize != null">file_config_min_size = #{fileConfigMinSize},</if>
            <if test="fileConfigMaxSize != null">file_config_max_size = #{fileConfigMaxSize},</if>
            <if test="fileConfigSortNum != null">file_config_sort_num = #{fileConfigSortNum},</if>
            <if test="fileCatalogRelationStatus != null">file_catalog_relation_status = #{fileCatalogRelationStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where file_catalog_relation_id = #{fileCatalogRelationId}
    </update>

    <select id="selectAllocatedFileList" parameterType="FileCatalogRelation" resultMap="FileCatalogRelationResult">
        select re.file_catalog_relation_id, re.file_catalog_code, re.file_config_code, re.file_config_type, re.file_config_must,
        re.file_config_min_num, re.file_config_max_num, re.file_config_min_size, re.file_config_max_size, re.file_config_sort_num,
        re.file_catalog_relation_status, re.del_flag, re.create_by, re.create_time, re.update_by, re.update_time,
        cf.file_config_name, cf.file_config_status,
        cc.file_catalog_name, cc.file_catalog_status
        from file_catalog_relation re
        inner join file_config cf on cf.file_config_code = re.file_config_code
        inner join file_catalog_config cc on cc.file_catalog_code = re.file_catalog_code
        where re.del_flag = '0' and re.file_catalog_code = #{fileCatalogCode}
        <if test="fileConfigName != null and fileConfigName != ''">
            AND cf.file_config_name like concat('%', #{fileConfigName}, '%')
        </if>
        <if test="fileCatalogName != null and fileCatalogName != ''">
            AND cc.file_catalog_name like concat('%', #{fileCatalogName}, '%')
        </if>
    </select>


    <select id="selectUnallocatedFileList" parameterType="FileConfig" resultMap="FileConfigResult">
        select cf.file_config_code, cf.file_config_name, cf.file_config_template, cf.file_config_desc, cf.file_config_status,
        cf.del_flag, cf.create_by, cf.create_time, cf.update_by, cf.update_time
        from file_config cf
        where cf.del_flag = '0'
        <if test="fileConfigName != null and fileConfigName != ''"> AND cf.file_config_name like concat('%', #{fileConfigName}, '%') </if>
        <if test="fileConfigCode != null  and fileConfigCode != ''"> AND cf.file_config_code like concat('%', #{fileConfigCode}, '%') </if>
    </select>


</mapper>