<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icoolkj.system.mapper.SysAreaMapper">
    
    <resultMap type="SysArea" id="SysAreaResult">
        <result property="areaId"    column="area_id"    />
        <result property="areaName"    column="area_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="areaDesc"    column="area_desc"    />
        <result property="areaStatus"    column="area_status"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSysAreaVo">
        select area_id, area_name, parent_id, area_desc, area_status, del_flag from sys_area
    </sql>

    <select id="selectSysAreaList" parameterType="SysArea" resultMap="SysAreaResult">
        <include refid="selectSysAreaVo"/>
        <where>  
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="parentId != null  and parentId != ''"> and parent_id = #{parentId}</if>
            <if test="areaDesc != null  and areaDesc != ''"> and area_desc = #{areaDesc}</if>
            <if test="areaStatus != null  and areaStatus != ''"> and area_status = #{areaStatus}</if>
        </where>
    </select>
    
    <select id="selectSysAreaByAreaId" parameterType="String" resultMap="SysAreaResult">
        <include refid="selectSysAreaVo"/>
        where area_id = #{areaId}
    </select>
        
    <insert id="insertSysArea" parameterType="SysArea">
        insert into sys_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="areaId != null">area_id,</if>
            <if test="areaName != null">area_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="areaDesc != null">area_desc,</if>
            <if test="areaStatus != null">area_status,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="areaId != null">#{areaId},</if>
            <if test="areaName != null">#{areaName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="areaDesc != null">#{areaDesc},</if>
            <if test="areaStatus != null">#{areaStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateSysArea" parameterType="SysArea">
        update sys_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="areaDesc != null">area_desc = #{areaDesc},</if>
            <if test="areaStatus != null">area_status = #{areaStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where area_id = #{areaId}
    </update>

    <select id="checkAreaIdUnique" resultMap="SysAreaResult">
        <include refid="selectSysAreaVo"/>
        where area_id=#{areaId} limit 1
    </select>

</mapper>