<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icoolkj.company.mapper.IcCompBasicMapper">
    
    <resultMap type="IcCompBasic" id="IcCompBasicResult">
        <result property="compBasicId"    column="comp_basic_id"    />
        <result property="compName"    column="comp_name"    />
        <result property="compCreditCode"    column="comp_credit_code"    />
        <result property="compType"    column="comp_type"    />
        <result property="compFr"    column="comp_fr"    />
        <result property="compArea"    column="comp_area"    />
        <result property="compAddr"    column="comp_addr"    />
        <result property="compLng"    column="comp_lng"    />
        <result property="compLat"    column="comp_lat"    />
        <result property="compRegDate"    column="comp_reg_date"    />
        <result property="compBusinessTerm"    column="comp_business_term"    />
        <result property="compManageStatus"    column="comp_manage_status"    />
        <result property="compApproveDate"    column="comp_approve_date"    />
        <result property="compApproveOffice"    column="comp_approve_office"    />
        <result property="compRegCapital"    column="comp_reg_capital"    />
        <result property="compPaidCapital"    column="comp_paid_capital"    />
        <result property="compManageScope"    column="comp_manage_scope"    />
        <result property="compStatus"    column="comp_status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectIcCompBasicVo">
        select comp_basic_id, comp_name, comp_credit_code, comp_type, comp_fr, comp_area, comp_addr, comp_lng, comp_lat, comp_reg_date, comp_business_term, comp_manage_status, comp_approve_date, comp_approve_office, comp_reg_capital, comp_paid_capital, comp_manage_scope, comp_status, del_flag, create_by, create_time, update_by, update_time from ic_comp_basic
    </sql>

    <select id="selectIcCompBasicList" parameterType="IcCompBasic" resultMap="IcCompBasicResult">
        <include refid="selectIcCompBasicVo"/>
        <where>  
            <if test="compName != null  and compName != ''"> and comp_name like concat('%', #{compName}, '%')</if>
            <if test="compCreditCode != null  and compCreditCode != ''"> and comp_credit_code = #{compCreditCode}</if>
            <if test="compType != null  and compType != ''"> and comp_type = #{compType}</if>
            <if test="compFr != null  and compFr != ''"> and comp_fr = #{compFr}</if>
            <if test="compArea != null  and compArea != ''"> and comp_area = #{compArea}</if>
            <if test="compAddr != null  and compAddr != ''"> and comp_addr = #{compAddr}</if>
            <if test="compLng != null  and compLng != ''"> and comp_lng = #{compLng}</if>
            <if test="compLat != null  and compLat != ''"> and comp_lat = #{compLat}</if>
            <if test="compRegDate != null "> and comp_reg_date = #{compRegDate}</if>
            <if test="compBusinessTerm != null  and compBusinessTerm != ''"> and comp_business_term = #{compBusinessTerm}</if>
            <if test="compManageStatus != null  and compManageStatus != ''"> and comp_manage_status = #{compManageStatus}</if>
            <if test="compApproveDate != null "> and comp_approve_date = #{compApproveDate}</if>
            <if test="compApproveOffice != null  and compApproveOffice != ''"> and comp_approve_office = #{compApproveOffice}</if>
            <if test="compRegCapital != null  and compRegCapital != ''"> and comp_reg_capital = #{compRegCapital}</if>
            <if test="compPaidCapital != null  and compPaidCapital != ''"> and comp_paid_capital = #{compPaidCapital}</if>
            <if test="compManageScope != null  and compManageScope != ''"> and comp_manage_scope = #{compManageScope}</if>
            <if test="compStatus != null  and compStatus != ''"> and comp_status = #{compStatus}</if>
        </where>
    </select>
    
    <select id="selectIcCompBasicByCompBasicId" parameterType="String" resultMap="IcCompBasicResult">
        <include refid="selectIcCompBasicVo"/>
        where comp_basic_id = #{compBasicId}
    </select>
        
    <insert id="insertIcCompBasic" parameterType="IcCompBasic">
        insert into ic_comp_basic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="compBasicId != null">comp_basic_id,</if>
            <if test="compName != null">comp_name,</if>
            <if test="compCreditCode != null">comp_credit_code,</if>
            <if test="compType != null">comp_type,</if>
            <if test="compFr != null">comp_fr,</if>
            <if test="compArea != null">comp_area,</if>
            <if test="compAddr != null">comp_addr,</if>
            <if test="compLng != null">comp_lng,</if>
            <if test="compLat != null">comp_lat,</if>
            <if test="compRegDate != null">comp_reg_date,</if>
            <if test="compBusinessTerm != null">comp_business_term,</if>
            <if test="compManageStatus != null">comp_manage_status,</if>
            <if test="compApproveDate != null">comp_approve_date,</if>
            <if test="compApproveOffice != null">comp_approve_office,</if>
            <if test="compRegCapital != null">comp_reg_capital,</if>
            <if test="compPaidCapital != null">comp_paid_capital,</if>
            <if test="compManageScope != null">comp_manage_scope,</if>
            <if test="compStatus != null">comp_status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="compBasicId != null">#{compBasicId},</if>
            <if test="compName != null">#{compName},</if>
            <if test="compCreditCode != null">#{compCreditCode},</if>
            <if test="compType != null">#{compType},</if>
            <if test="compFr != null">#{compFr},</if>
            <if test="compArea != null">#{compArea},</if>
            <if test="compAddr != null">#{compAddr},</if>
            <if test="compLng != null">#{compLng},</if>
            <if test="compLat != null">#{compLat},</if>
            <if test="compRegDate != null">#{compRegDate},</if>
            <if test="compBusinessTerm != null">#{compBusinessTerm},</if>
            <if test="compManageStatus != null">#{compManageStatus},</if>
            <if test="compApproveDate != null">#{compApproveDate},</if>
            <if test="compApproveOffice != null">#{compApproveOffice},</if>
            <if test="compRegCapital != null">#{compRegCapital},</if>
            <if test="compPaidCapital != null">#{compPaidCapital},</if>
            <if test="compManageScope != null">#{compManageScope},</if>
            <if test="compStatus != null">#{compStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateIcCompBasic" parameterType="IcCompBasic">
        update ic_comp_basic
        <trim prefix="SET" suffixOverrides=",">
            <if test="compName != null">comp_name = #{compName},</if>
            <if test="compCreditCode != null">comp_credit_code = #{compCreditCode},</if>
            <if test="compType != null">comp_type = #{compType},</if>
            <if test="compFr != null">comp_fr = #{compFr},</if>
            <if test="compArea != null">comp_area = #{compArea},</if>
            <if test="compAddr != null">comp_addr = #{compAddr},</if>
            <if test="compLng != null">comp_lng = #{compLng},</if>
            <if test="compLat != null">comp_lat = #{compLat},</if>
            <if test="compRegDate != null">comp_reg_date = #{compRegDate},</if>
            <if test="compBusinessTerm != null">comp_business_term = #{compBusinessTerm},</if>
            <if test="compManageStatus != null">comp_manage_status = #{compManageStatus},</if>
            <if test="compApproveDate != null">comp_approve_date = #{compApproveDate},</if>
            <if test="compApproveOffice != null">comp_approve_office = #{compApproveOffice},</if>
            <if test="compRegCapital != null">comp_reg_capital = #{compRegCapital},</if>
            <if test="compPaidCapital != null">comp_paid_capital = #{compPaidCapital},</if>
            <if test="compManageScope != null">comp_manage_scope = #{compManageScope},</if>
            <if test="compStatus != null">comp_status = #{compStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where comp_basic_id = #{compBasicId}
    </update>

    <select id="checkCreditCodeUnique" resultMap="IcCompBasicResult">
        <include refid="selectSysAreaVo"/>
        where comp_credit_code=#{compCreditCode} limit 1
    </select>


</mapper>