<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icoolkj.device.mapper.DcDeviceBasicMapper">
    
    <resultMap type="DcDeviceBasic" id="DcDeviceBasicResult">
        <result property="deviceBasicId"    column="device_basic_id"    />
        <result property="deviceCategoryId"    column="device_category_id"    />
        <result property="compBasicId"    column="comp_basic_id"    />
        <result property="deviceName"    column="device_name"    />
        <result property="deviceSn"    column="device_sn"    />
        <result property="deviceType"    column="device_type"    />
        <result property="deviceModel"    column="device_model"    />
        <result property="deviceBrand"    column="device_brand"    />
        <result property="deviceFactory"    column="device_factory"    />
        <result property="deviceDesc"    column="device_desc"    />
        <result property="deviceLastActiveTime"    column="device_last_active_time"    />
        <result property="deviceOnlineStatus"    column="device_online_status"    />
        <result property="deviceStatus"    column="device_status"    />
        <result property="domainId"    column="domain_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="categoryName"    column="category_name"    />
    </resultMap>

    <sql id="selectDcDeviceBasicVo">
        select d.device_basic_id, d.device_category_id, d.comp_basic_id, d.device_name, d.device_sn, d.device_type, d.device_model, d.device_brand, d.device_factory, d.device_desc,
               d.device_last_active_time, d.device_online_status, d.device_status, d.domain_id, d.del_flag, d.create_by, d.create_time, d.update_by, d.update_time,
               c.category_name
          from dc_device_basic d
          inner join dc_device_category c on c.device_category_id = d.device_category_id
    </sql>

    <select id="selectDcDeviceBasicList" parameterType="DcDeviceBasic" resultMap="DcDeviceBasicResult">
        <include refid="selectDcDeviceBasicVo"/>
        <where>  
            <if test="compBasicId != null  and compBasicId != ''"> and d.comp_basic_id = #{compBasicId}</if>
            <if test="deviceName != null  and deviceName != ''"> and d.device_name like concat('%', #{deviceName}, '%')</if>
            <if test="deviceSn != null  and deviceSn != ''"> and d.device_sn = #{deviceSn}</if>
            <if test="deviceType != null  and deviceType != ''"> and d.device_type = #{deviceType}</if>
            <if test="deviceModel != null  and deviceModel != ''"> and d.device_model = #{deviceModel}</if>
            <if test="deviceBrand != null  and deviceBrand != ''"> and d.device_brand = #{deviceBrand}</if>
            <if test="deviceFactory != null  and deviceFactory != ''"> and d.device_factory = #{deviceFactory}</if>
            <if test="deviceDesc != null  and deviceDesc != ''"> and d.device_desc = #{deviceDesc}</if>
            <if test="deviceLastActiveTime != null "> and d.device_last_active_time = #{deviceLastActiveTime}</if>
            <if test="deviceOnlineStatus != null  and deviceOnlineStatus != ''"> and d.device_online_status = #{deviceOnlineStatus}</if>
            <if test="deviceStatus != null  and deviceStatus != ''"> and d.device_status = #{deviceStatus}</if>
            <if test="domainId != null  and domainId != ''"> and d.domain_id = #{domainId}</if>
            <if test="categoryName != null  and categoryName != ''"> and c.category_name like concat('%', #{categoryName}, '%')</if>
        </where>
    </select>
    
    <select id="selectDcDeviceBasicByDeviceBasicId" parameterType="String" resultMap="DcDeviceBasicResult">
        <include refid="selectDcDeviceBasicVo"/>
        where d.device_basic_id = #{deviceBasicId}
    </select>
        
    <insert id="insertDcDeviceBasic" parameterType="DcDeviceBasic">
        insert into dc_device_basic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceBasicId != null">device_basic_id,</if>
            <if test="deviceCategoryId != null">device_category_id,</if>
            <if test="compBasicId != null">comp_basic_id,</if>
            <if test="deviceName != null">device_name,</if>
            <if test="deviceSn != null">device_sn,</if>
            <if test="deviceType != null">device_type,</if>
            <if test="deviceModel != null">device_model,</if>
            <if test="deviceBrand != null">device_brand,</if>
            <if test="deviceFactory != null">device_factory,</if>
            <if test="deviceDesc != null">device_desc,</if>
            <if test="deviceLastActiveTime != null">device_last_active_time,</if>
            <if test="deviceOnlineStatus != null">device_online_status,</if>
            <if test="deviceStatus != null">device_status,</if>
            <if test="domainId != null">domain_id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceBasicId != null">#{deviceBasicId},</if>
            <if test="deviceCategoryId != null">#{deviceCategoryId},</if>
            <if test="compBasicId != null">#{compBasicId},</if>
            <if test="deviceName != null">#{deviceName},</if>
            <if test="deviceSn != null">#{deviceSn},</if>
            <if test="deviceType != null">#{deviceType},</if>
            <if test="deviceModel != null">#{deviceModel},</if>
            <if test="deviceBrand != null">#{deviceBrand},</if>
            <if test="deviceFactory != null">#{deviceFactory},</if>
            <if test="deviceDesc != null">#{deviceDesc},</if>
            <if test="deviceLastActiveTime != null">#{deviceLastActiveTime},</if>
            <if test="deviceOnlineStatus != null">#{deviceOnlineStatus},</if>
            <if test="deviceStatus != null">#{deviceStatus},</if>
            <if test="domainId != null">#{domainId},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDcDeviceBasic" parameterType="DcDeviceBasic">
        update dc_device_basic
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceCategoryId != null">device_category_id = #{deviceCategoryId},</if>
            <if test="compBasicId != null">comp_basic_id = #{compBasicId},</if>
            <if test="deviceName != null">device_name = #{deviceName},</if>
            <if test="deviceSn != null">device_sn = #{deviceSn},</if>
            <if test="deviceType != null">device_type = #{deviceType},</if>
            <if test="deviceModel != null">device_model = #{deviceModel},</if>
            <if test="deviceBrand != null">device_brand = #{deviceBrand},</if>
            <if test="deviceFactory != null">device_factory = #{deviceFactory},</if>
            <if test="deviceDesc != null">device_desc = #{deviceDesc},</if>
            <if test="deviceLastActiveTime != null">device_last_active_time = #{deviceLastActiveTime},</if>
            <if test="deviceOnlineStatus != null">device_online_status = #{deviceOnlineStatus},</if>
            <if test="deviceStatus != null">device_status = #{deviceStatus},</if>
            <if test="domainId != null">domain_id = #{domainId},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where device_basic_id = #{deviceBasicId}
    </update>

    <select id="checkDeviceSnUnique" resultMap="DcDeviceBasicResult">
        <include refid="selectDcDeviceBasicVo"/>
        where d.device_sn=#{deviceSn} limit 1
    </select>

</mapper>